/*Keith Alexander*/
/*Course: CSC 415*/
/*Semester: Fall 2018*/
/*Instructor: Dr. Pulimood*/
/*Project Name: TCNJ Meals*/
/*Description:This is a food bank proposal website for TCNJ [Not-Affiliated with The College of New Jersey, Unrecognized org]*/ 
/*Filename: main.css*/
/*File Description: This is the css file that contains all aesthic and style within the website of the TCNJ Meals Website*/
/*Last Modified On: 11-26-2018 */


/*below is the format of how the UI will be depicted to the user*/ 

body: {
	margin: 0;
	font-family: calibri;
}

/*the class below has been appended in order to generate context boxes that are aesthic and make it easy for the user to read*/
.contact-form{
	width: 85%;
	max-width: 600px;
	text-align: center;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 30px 40px;
	box-sizing: border-box;
	box-shadow: 0 0 20px #000000b3;
	font-family: calibri;
}

.contact-form h1{
	margin-top: 10px 10px;
	font-weight: 200;
}

/*the following txtb files are editing fields for the user to be able to see where the developer wants the user to enter information*/
.txtb{
	border: 1px solid gray;
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 8px;
}

.txtb label{
	display: block;
	text-align: left;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
}

/*Developer has created a tet area/box and styled for optimal user visibility*/
.txtb input,.txtb textarea{
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: 18px;
	margin-top: 6px;
}

.btn{
	display: block;
	background: blue;
	padding: 14px 0;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	width: 100%;
}

.header img {
  float: right;
  width: 100px;
  height: 100px;
  background: none;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
header {
	background: #999;
	color: black;
	font-family: calibri;
	padding: 5px 15px;
}


h2{
	color: #222;
}



p {
	background: none;
	color: black;
	font-family: calibri;
	padding: 10px 10px 0px 0px;  
}

nav ul {
	margin: 0;
	display: inline;
}

nav ul li {
	
	background: black;
	color: white; 
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px
	
}

nav ul li a {
	color: white;
}


<style>
.marginauto {
    margin: 10px auto 20px;
    display: block;
}
</style>

